/app/config/parameters.yml
/.env
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/public/bundles/
.idea/
.DS_Store
lib/
node_modules/
public/deploy.php
/.idea/*
public/css/style.css
public/js/all-scripts.js
public/js/all-scripts.js.map
