{% extends 'base.html.twig' %}

{% block body %}
<div class="container content login-screen">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 text-center">
            E-mail with account activation link sent.Please check your inbox.
        </div>
    </div>
</div>
{% endblock %}
